body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}

.control-panel {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #2980b9;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.chart-container {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  width: 80%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
#networkCanvas {
  background: white;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.alert-box {
  background-color: #ff4d4d;
  color: white;
  padding: 12px;
  margin: 15px auto;
  width: 350px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0.4;}
  100% {opacity: 1;}
}
